<div class="container">
    <div class="row mt-4 mb-5">
        <div class="col mt-3 ">
            <h1 class="text-primary text-center ">View Employee</h1>
            <p style="text-align: justify;"></p>
        </div>
    </div>

    <!-- form -->
    <div class="container">
        <div class="row">
            <!-- form col -->
            <div class="col-lg-7">

                <!-- <pre>
                    {{contactId|json}}
                </pre> -->

                <!-- complete data of contacts -->
                <ul class="list-group">
                    <h1 class="ps-3">Contact Details</h1>      <!--contact have all data-->
                    <li class="list-group-item">Name:{{employee.firstName}}        
                    </li>
                    <li class="list-group-item">Email:{{employee.email}}        
                    </li>
                    <li class="list-group-item">Mob no:{{employee.contactNumber}}        
                    </li>
                    <li class="list-group-item">Position:{{employee.position}}        
                    </li>
                    <li class="list-group-item">Experience: {{employee.experience}}        
                    </li>
                    
                  </ul>
                  <a routerLink="/" class="btn btn-danger mt-2 ms-2 mt-2" style="float: right;">Go Back</a>

            </div>
            <div class="col-lg-5 p-5">
                <div class="w-100 d-flex justify-content-center align-items-center">
                    <img class="img-icon ms-5 w-50" [src]="employee.imageUrl" alt="">

                </div>
            </div>
        </div>
    </div>
</div>