<div class="container">
    <div class="row mt-4">
        <div class="col ">
            <h1 class="text-primary text-center">Update Employee Details</h1>
            <p style="text-align: justify;"></p>
        </div>
    </div>
    <!-- <pre>
        {{contact | json}}
    </pre> -->
    <!-- <pre>
       {{groups}}
    </pre> -->
    <!-- form -->
    <div class="container">
        <div class="row">
            <!-- form col -->
            <div class="col-lg-7 p-3">
                <form class="border   p-5 cardshades">
                    <input [(ngModel)]="emp.firstName" name="contactname" type="text" placeholder="Enter Contact Name" class="form-control">
                    <input [(ngModel)]="emp.email" name="photourl" type="text" placeholder="Enter Contact Photo url" class="form-control mt-2">
                    <input [(ngModel)]="emp.contactNumber" name="email" type="text" placeholder="Enter Contact Email" class="form-control mt-2">
                    <input [(ngModel)]="emp.position" name="phone" type="text" placeholder="Enter Contact Mobile" class="form-control mt-2">
                    <input [(ngModel)]="emp.experience" name="companyname" type="text" placeholder="Enter Contact Company Name" class="form-control mt-2">


                    <!-- <select class="form-control mt-2" [(ngModel)]="contact.groupId" name="groupid" >
                        <option value=""selected hidden disabled></option>
                        <option value={{group.id}} *ngFor="let group of groups">{{group.name}}</option>
                    </select> -->

                    <input  type="submit" (click)="updateEmployee()" value="Update" class="btn btn-primary mt-2">
                    <a routerLink="/" class="btn btn-danger mt-2 ms-2" style="float: right;">Close</a>
                </form>
            </div>
            <div class="col-lg-5 ps-5 pt-5">
                <div class="d-flex justify-content-center align-items-center p-4">

                </div>
                <img class="img-icon w-50" [src]="emp.imageUrl" alt="">
            </div>
        </div>
    </div>
</div>